* {
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Montserrat', sans-serif;
  
  }
  
  .header {
    text-align: center;
    font-size: 5vmin;
    padding: 3vmin;
}

  body {
    height: 100vh;
    margin: 0;
    background-color: rgb(59, 72, 57);
    display: grid;
    align-items: center;
  
  }


  a {
    text-decoration: none;
    color: white;
  }

  #back {
    text-decoration: none;
    font-size: 3vmin;
    color: white;
    
}