
* {
  box-sizing: border-box;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Major Mono Display', monospace;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #3F5E5A;
}

nav {
  margin-bottom: 20px;
}

.nav-wrapper {
  background-color: #283F3B;
  text-align: center;
}

.nav-item {
font-size: 38px;
margin: 20px;
color:#B6CECB;

}



.title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  margin-right: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
}

.card-image img {
  width: 100%;
  height: 200px; /* Adjust as needed */
  object-fit: cover;
}

.site {
  font-size: 20px;
color:#B6CECB
}


.card-content {
  min-height: 150px;
  flex-grow: 1;
  background-color: #283F3B;
  
}

.card-title {
  background-color: #283F3B;
  color:#B6CECB;
  
}

.icon {
  background-color: #283F3B;
  color:#B6CECB
}

.card-reveal {
  background-color: #283F3B !important;

}

p {
  background-color: #283F3B;
  color:#B6CECB;
  font-size: 15px;
  text-align: center;
  margin-top:10px;
}

h5 {
  background-color: #283F3B;
  color: #B6CECB;
  text-align: center;
}

@media screen and (max-width: 600px) {

  .nav-item {
    font-size: 25px;
  }

.title {
  font-size: 30px;
  margin-bottom: 10px;
}

  
}

