* {
  box-sizing: border-box;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Major Mono Display', monospace;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(59, 72, 57);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.header {
  text-align: center;
  font-size: 7vmin;
  padding: 3vmin;
}

.card-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;
 
}




.card {
  background-color: rgb(30, 36, 30);
  color: white;
  text-align: center;
  border-radius: 2em;
  margin: 2em;
  padding: 2em;
  width: 500px;
  height: 400px; 
  perspective: 1000px;
  position: relative; 
}


  .card:hover .flipper {
    transform: rotateY(180deg);
  }

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

#card-front,
#card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}


#card-back {
  transform: rotateY(180deg);
}

#card-front img {
  width: 100%;
  height: 100%;
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}


a {
  text-decoration: none;
  color: white;
}

#back {
  text-decoration: none;
  font-size: 3vmin;
  color: white;

}

@media screen and (max-width: 600px) {
  .card {
    width: 100%; 
    max-width: none; 
  }
  #card-back {
    padding: 0.5em; 
    font-size: 0.7em;
  }
}

